*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:unset;
    font-family: Poppins;
}

header{
    background-image: url('https://images.unsplash.com/photo-1604223190546-a43e4c7f29d7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bW91bnRhaW4lMjBsYW5kc2NhcGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
    height: 300px;
    background-size: cover;
    background-position: center;
}

img.social{
    width: 20px;
}

footer{
    background-color:whitesmoke;
    color:purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}